[package]
name = "imxrt-boot-gen"
version = "0.2.0"
authors = ["Ian McIntyre <ianpmcintyre@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
repository = "https://github.com/imxrt-rs/imxrt-boot-gen"
description = """
Generate data structures for booting iMXRT processors.
"""
categories = [
    "embedded",
    "hardware-support",
    "no-std",
]
keywords = [
    "arm",
    "cortex-m",
    "imxrt",
]

[dependencies]

[features]
imxrt1010 = []
imxrt1060 = []
imxrt1064 = []

[package.metadata.docs.rs]
features = ["imxrt1060"]
default-target = "thumbv7em-none-eabihf"
